* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ESTILOS GENERALES */
body {
  font-size: 20px;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.img {
  max-width: 100%;
}

/* ESTILOS DEL HEADER */

.header {
  align-items: center;
  background-color: #dc0423;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 20px 10px;
}

.brand-container {
  width: 200px;
}

.nav-item {
  margin-left: 10px;
}

.nav-item:hover {
  color: #648cc4;
  text-decoration: underline;
}

/* ESTILOS DE LA SECCION HERO */

.hero {
  display: flex;
  flex-wrap: wrap;
}

.blue {
  flex: 1 1 100%;
}

.red {
  display: flex;
  flex: 1 1 100%;
}

.green {
  flex: 1 1 30%;
}

.flex {
 display: flex;
 flex: 1 1 70%;
}

.violet {
  flex: 1 1 50%;
}

.yellow {
  flex: 1 1 50%;

}

@media (min-width: 1200px) {
  .hero {
  display: flex;
  flex-wrap: nowrap;
}

.blue {
  flex: 1 1 50%;
}

.red {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 50%;
}
.green {
  flex: 1 1 100%;
}

.flex {
 display: flex;
 flex: 1 1 100%;
}

.violet {
  flex: 1 1 50%;
}

.yellow {
  flex: 1 1 50%;
}
}
